.card {
    padding: 1rem;
    border: solid 1px black;
    border-radius: 10px;
    background-color: grey;

    h2 {
        color: #F5F5F5;
        display: flex;
        justify-content: center;
    }

    p {
        display: flex;
        justify-content: center;
    }
}

h1 {
    display: flex;
    justify-content: center;
}

.container-widget {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}