
body {
    background-color: rgb(206, 218, 225);
    margin: 0;
}

header {
    width: 95%;
    border: solid 3px rgb(183, 200, 209);
    background-color: white;
    margin-top: 1rem;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    border-radius: 10px;

    p {
        margin: 0;
    }
}

h1 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.weather-date {
    border: solid 3px rgb(229, 241, 243);
    margin: 0.5rem;
    padding: 0.5rem;
}

.sidebar {
    width: 10%;
    margin: 2rem;
    border: solid 3px rgb(229, 241, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border-radius: 10px;
    background-color: rgb(186, 230, 243);
    padding: 0.5rem;
}