@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    /* COLOR */
    --primary-color: rgb(186, 228, 243);
    --primary-color-light: rgb(220, 230, 240);
    --primary-color-dark: rgb(159, 218, 236);
    --secondary-color-dark:rgb(50, 60, 76);
    --secondary-color:rgb(79, 99, 113);
    --secondary-color-light: rgb(229, 241, 243);
    --grey-50: #F6F6F6;
    --grey-100:#E7E7E7;
    --grey-200:#D1D1D1;
    --grey-300:#B0B0B0;
    --grey-400:#888888;
    --grey-500:#737373;
    --grey-600:#5D5D5D;
    --grey-700:#4F4F4F;
    --grey-800:#454545;
    --grey-900:#3D3D3D;
    --grey-950:#262626;

    /* SPACING */
    --spacing-xs: 4px;
    --spacing-sm: 8px;  
    --spacing-md: 16px; 
    --spacing-lg: 24px;  
    --spacing-xl: 32px;
    --spacing-2xl: 48px;

    /* BORDER RADIUS */
    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-lg: 50px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-color-light);
    margin: 0;
}
