.card {
    padding: 1%;
    border: solid 1px black;
    border-radius: 10px;

    h2 {
        display: flex;
        justify-content: center;
    }

    p {
        display: flex;
        justify-content: center;
    }
}

.widget-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}