@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(220, 230, 240);
    margin: 0;
}

header {
    width: 95%;
    border: solid 1px rgb(183, 200, 209);
    box-shadow: 5px 2px 10px grey;
    background-color: white;
    margin-top: 1rem;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    border-radius: 10px;

    p {
        margin: 0;
    }
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    color: rgb(50, 60, 76);
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.weather-date {
    border: solid 3px rgb(229, 241, 243);
    border-radius: 20px;
    margin: 3rem;
    padding: 1rem;
}

.sidebar {
    margin: 2rem;
    padding: 1rem 0;
    border: solid 2px rgb(184, 217, 227);
    /* box-shadow: 2px 2px 5px grey; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 25%;
    gap: 2rem;
}

.button-sidebar {
    height: 1rem;
    width: 90%;
    border: solid 1px rgb(159, 216, 235);
    border-radius: 50px;
    background-color: rgb(186, 230, 243);
    padding: 2rem;
    font-size: large;
    color: rgb(70, 90, 100);
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}